@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font-family: 'Poppins', sans-serif;
}

.markdwon{
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.markdwon .container{
  width: 60%;
  height: 70%;
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  box-shadow: 0 0 1.5rem rgb(128, 134, 134);
  border-radius: 10px;
}

.markdwon .container .left_site{
  background: rgb(67, 68, 68);
  resize: none;
  border: none;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: .1rem;
  color: white;
  border-radius: 3px 0 0 3px;
}

.markdwon .container .left_site:focus{
  border: none;
  outline: none;
}

.markdwon .container .right_site{
  background: rgb(169, 242, 245);
  padding: 1rem;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: .1rem;
  border-radius: 0 3px 3px 0;
}

@media (max-width:640px) {
  .markdwon .container{
    width: 80%;
    grid-template-columns: repeat(1 , 1fr);
  }

  .markdwon .container .left_site{
    border-radius: 3px 3px 0 0;
  }

  .markdwon .container .right_site{
    border-radius: 0 0 3px 3px;
  }
}